/* Общий стиль страницы */
body {
    font-family: Arial, sans-serif;
    background-image: url(resourses/99671.jpg);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 80%;
    max-width: 600px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th {
    background-color: #9ea4a9;
    color: white;
    padding: 12px;
    text-align: left;
    font-size: 16px;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:last-child td {
    border-bottom: none;
}
input {
    margin-top: 20px; 
    padding: 10px;    
    width: 200px;     
}

