body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 30px;
}

h1 {
    color: #333;
    font-family: 'Niconne', cursive;
}
h2 {
    color: #333;
    font-family: 'Niconne', cursive;
}

form {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    background: #eeae54;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background: #eda138;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.02);
    opacity: 0.8;
}

ol {
    background: #fff;
    padding: 15px 30px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}

ol li {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;
}

ol li:hover {
    transition: background 0.3s ease-in-out;
    transform: scale(1.01);
}
